@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:#6EE7B7;
    --dark-grey:#4B5563;
    --off-white:#F3F4F6;
    --very-light-color: #ECFDF5;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: var(--very-light-color);
}

/**Containers*/
.container{
   padding: 0rem 1rem;
}

.container-center{
    max-width:600px;
    margin: auto;
    text-align: center; 
}

/**Links**/

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 100px;
   /** margin-top: 1rem;
    margin-bottom: 1rem; **/
}

.link-p{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    line-height: 2rem;
    color: white;
}

.link-s{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    line-height: 2rem;
}

.link .link-p{
    margin: auto;
}
hr{
    margin: 3rem 0rem;
}

/**Lists**/
 
.list-non-bullet{
    list-style: none;
    margin: auto;
    margin-top: 1rem;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/**Nav**/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand{
    font-size: medium;
    font-weight: bold;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}


/**Header**/

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    text-align: center;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-grey);
    text-align: center;
    padding: 1rem;
    margin-bottom: 0rem;
}

.hero .hero-heading .hero-inverted{
    color:var(--primary-color);
}

.hero .hero-sub{
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
}

/** Sections */

.section{
    padding:2rem;
}

.section h1{
    text-align: center;
}

.off{
    background-color: var(--off-white);
}

/** Footers **/

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link{
    color: white;
    text-align: center;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.margin-md{
    margin-bottom: 0.5rem;
}

.list-non-bullet .container{
    margin-bottom: 4rem;
}